datasets==2.21.0
evaluate==0.4.4
huggingface_hub==0.31.2
matplotlib==3.6.3
networkx==3.3
numpy==2.3.3
seaborn==0.11.2
sentence_transformers==4.1.0
spacy==3.8.7
torch==2.7.1
tqdm==4.67.0
transformers==4.53.1
